attention_ocr
audioset
cvt_text
cognitive_planning
autoaugment
deep_speech
deeplab
delf
efficient-hrl
lfads
nst_blogpost
marco
rebar
pcl_rl
seq_flow_lite
slim
vid2depth
lstm_object_detection
ckpt*
*variables*
events*
*dataset*
*.deb
protos
object_detection_dataset

IMG_*.xml
IMG_*.jpg

.ipynb_checkpoints
.DS_Store
training_demo/predictions
*.ipynb

*.pem
client_secret_262136093692-al3j5ncqanp8sqmrkml05usoutmjamst.apps.googleusercontent.com.json
retailzz-4d18b61af484.json
datasets/
*.pth