*images*
result
.ipynb_checkpoints
client_secret_262136093692-al3j5ncqanp8sqmrkml05usoutmjamst.apps.googleusercontent.com.json
# client_secret_262136093692-al3j5ncqanp8sqmrkml05usoutmjamst.apps.googleusercontent.com.json
retailzz-*.json
__pycache__
lot_of_tests*
vision_test*
